{% extends 'admin/base.html' %}


{% block title %} 标签列表{% endblock %}
{% block content %}
    <div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>
                    标签列表
                </h3>
            </div>
            <div class="panel-body">
                <br/>
                {#                   登录日志表格#}
                <table class="table table-bordered">
                    <thead>
                    <th>编号</th>
                    <th>名称</th>
                    <th>添加时间</th>
                    <th>操作事项</th>
                    </thead>
                    <tbody>
                    {% for v in tagsPageObj.items %}
                        <tr>
                            <td>{{ v.id }}</td>
                            <td>{{ v.name }}</td>
                            <td>{{ v.addtime }}</td>
                            <td>
                                {#    编辑按钮                               #}
                                <a class="btn btn-sm btn-success" href="{{ url_for('admin.tag_edit', id=v.id) }}"
                                   role="button">编辑</a>
                                {#    删除按钮                               #}
                                <a class="btn btn-sm btn-danger" href="{{ url_for('admin.tag_del', id=v.id) }}"
                                   role="button">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%  import 'macro/pages.html'  as pages%}
{{ pages.paginate(tagsPageObj, 'admin.tag_list') }}

{% endblock %}