{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html'  as wtf %}


{% block title %}
    登录
{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">


            <div class="panel panel-success">

                {#让每个页面都可以获取闪现信息闪现#}
                {% for item in get_flashed_messages() %}

                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        {{ item }}
                    </div>
                {% endfor %}
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-log-in">

                    </span>&nbsp;&nbsp;登录</h1>
                </div>

                <div class="panel-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>

        </div>


    </div>

{% endblock %}