{% extends 'admin/base.html' %}
{% block title %}电影列表{% endblock %}
{% block content %}


    <div class="col-lg-11">


        {#   参考 路径导航:  https://v3.bootcss.com/components/#breadcrumbs           #}
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.index') }}"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="{{ url_for('admin.movie_add') }}"><i class="fa fa-dashboard"></i> 电影管理</a></li>
            <li><a href="{{ url_for('admin.movie_add') }}"><i class="fa fa-dashboard"></i> 添加电影</a></li>
            <li><a href="{{ url_for('admin.movie_list') }}"><i class="fa fa-dashboard"></i> 电影列表</a></li>

        </ol>


        <div>
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>
                        电影列表
                    </h3>
                </div>
                <div class="panel-body">

                    <br/>

                    {#                   登录日志表格#}
                    <table class="table table-bordered">
                        <thead>
                        <th>编号</th>
                        <th>片名</th>
                        <th>电影封面</th>
                        <th>片长</th>
                        <th>标签</th>
                        <th>地区</th>
                        <th>星级</th>
                        <th>播放数量</th>
                        <th>评论数量</th>
                        <th>上映时间</th>
                        <th>操作事项</th>
                        </thead>
                        <tbody>

                        {% for movie in moviesPageObj.items %}
                            <tr>
                                <td>{{ movie.id }}</td>
                                <td>{{ movie.name }}</td>
                                <td>
                                    <img src="{{ url_for('static', filename=app.config['MOVIE_UP_DIR_LAST']) + movie.logo }}" style="max-height: 30px">

                                </td>
                                <td>{{ movie.length }} 分钟</td>
                                <td>{{ movie.tag.name }}</td>
                                <td>{{ movie.area }}</td>
                                <td>{{ movie.star }} 星</td>
                                <td>{{ movie.comment_num }}</td>
                                <td>{{ movie.play_num }}</td>
                                <td>{{ movie.release_time }}</td>
                                <td>
                                    <a href="{{ url_for('admin.movie_edit', id=movie.id) }}" class="label label-success">编辑</a>
                                    &nbsp;
                                    <a href="{{ url_for('admin.movie_del', id=movie.id) }}" class="label label-danger">删除</a>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>


                </div>
            </div>

        </div>

    </div>



    {% import 'macro/pages.html' as pages %}


    {{ pages.paginate(moviesPageObj, 'admin.movie_list') }}
{% endblock %}