{% extends 'admin/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}编辑预告{% endblock %}
{% block content %}


    <div class="col-lg-11">
        {#   参考 路径导航:  https://v3.bootcss.com/components/#breadcrumbs           #}
        <h1>微预告管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.index') }}"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="{{ url_for('admin.preview_add') }}"><i class="fa fa-dashboard"></i> 预告管理</a></li>
            <li><a href="{{ url_for('admin.preview_add') }}"><i class="fa fa-dashboard"></i> 编辑预告</a></li>
            <li><a href="{{ url_for('admin.preview_list') }}"><i class="fa fa-dashboard"></i> 预告列表</a></li>

        </ol>

        {#    面板   #}
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-plus-sign"></span>
                    编辑预告</h3>
            </div>
            <div class="panel-body">

                {{ wtf.quick_form(form) }}

            </div>
        </div>
    </div>


{% endblock %}