{% extends 'admin/base.html' %}

{% block title %}标签列表{% endblock %}
{% block content %}
    <div class="col-lg-11">
        {#   参考 路径导航:  https://v3.bootcss.com/components/#breadcrumbs           #}
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.index') }}"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><i class="fa fa-dashboard"></i> 标签管理</li>
            <li><a href="{{ url_for('admin.tag_add') }}"><i class="fa fa-dashboard"></i> 添加标签</a></li>
            <li><a href="{{ url_for('admin.tag_list') }}"><i class="fa fa-dashboard"></i> 标签列表</a></li>
        </ol>

        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>
                    标签列表
                </h3>
            </div>
            <div class="panel-body">

                <br/>

                {#                   登录日志表格#}
                <table class="table table-bordered">
                    <thead>
                    <th>编号</th>
                    <th>名称</th>
                    <th>添加时间</th>
                    <th>操作事项</th>
                    </thead>
                    <tbody>
                    {% for v in tagsPageObj.items %}
                        <tr>
                            <td>{{ v.id }}</td>
                            <td>{{ v.name }}</td>
                            <td>{{ v.addtime }}</td>
                            <td>
                                {#    编辑按钮                               #}
                                <a class="btn btn-sm btn-success" href="{{ url_for('admin.tag_edit', id=v.id) }}"
                                   role="button">编辑</a>
                                {#    删除按钮                               #}
                                <a class="btn btn-sm btn-danger" href="{{ url_for('admin.tag_del', id=v.id) }}"
                                   role="button">删除</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>


        <div class="col-md-12 text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="First">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li><a href="#">1&nbsp;/&nbsp;10</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Last">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


    </div>

{% endblock %}