{% extends 'blog/base.html' %}
{% block title %}
    博客详情页
{% endblock %}
{% block main %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ post.category }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="2012-11-09T23:15:57+00:00">{{ post.modified_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="comments-link"><a href="#">{{ post.comment_num }} 评论</a></span>
                <span class="views-count"><a href="#">{{ post.read_num }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            {#        博客详情内容 #}
            {{ post.body | safe }}
        </div>
    </article>
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        <form action="{% url 'post_comment' post.id %}" method="post" class="comment-form">
            <div class="row">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" class="button btn-success" value="提交评论">
            </div>    <!-- row -->
        </form>


        <hr/>
        <div class="comment-list-panel">
            <h3>评论列表，共 <span>{{ post.comment_num }}</span> 条评论</h3>
            <ul class="comment-list list-unstyled">

                {% for comment in comments %}
                <li class="comment-item">
                    <span class="nickname">{{ comment.name }}</span>
                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">{{  comment.created_time }}</time>
                    <div class="text">
                            {{ comment.text }}
                    </div>
                </li>

                {% endfor %}

            </ul>
        </div>
    </section>
{% endblock %}
