{# template/list.html #}

{% extends 'bootstrap/base.html' %}


{% block title %}

    用户显示
{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h1>用户信息</h1>
            </div>


            <table class="table table-hover">
                <tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>创建时间</th>
                    <th>用户角色</th>
                </tr>

                {% for user in userPageObj.items %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <th>{{ user.username }}</th>
                        <th>{{ user.email }}</th>
                        <th>{{ user.add_time }}</th>
                        <th>{{ user.role.name }}</th>

                    </tr>
                {% endfor %}
            </table>


            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {#
1. 上一页的显示url获取
    /list/2/ ===== url_for('list', userPageObj.prev_num)

2. 上一页信息逻辑判断
    1). 判断是否有上一页信息；
    2). 如果有， 创建链接;
    3). 如果没有， 该链接设为不可点击的链接

3. 上一页显示使用的类属性和方法:
    1). dataObj.has_prev:
        判断用户是否有上一页？
        如果有，返回True； 如果没有，返回False;

    2).dataObj.prev_num:
        获取上一页的页数编号;
#}
                    {% if userPageObj.has_prev %}
                        <li>

                            <a href="{{ url_for('list', page=userPageObj.prev_num) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                    {% endif %}


                    {#

详细页的显示
依次创建每个分页表框:
    1). 是否为none, 设置类名为diabled；
    2). 是否为当前页， 设置类名为active；
    3）.其他，正常设置;
#}

                    {% for page in userPageObj.iter_pages() %}
                        {% if page is none %}
                            <li class="disabled"><a href="#">......</a></li>
                        {% elif page == userPageObj.page %}

                            <li class="active"><a href="{{ url_for('list', page=page) }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('list', page=page) }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}


                    {#
1.下一页信息判断逻辑
    1). 判断是否有下一页信息；
    2). 如果有， 创建链接;
    3). 如果没有， 该链接设为不可点击的链接

2. 使用的方法:
    1). dataObj.has_next:
        判断用户是否有下一页？
        如果有，返回True； 如果没有，返回False;
    2).dataObj.next_num: 获取下一页的页数编号;
#}
                    {% if userPageObj.has_next %}
                        <li>
                            <a href="{{ url_for('list', page=userPageObj.next_num) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>

    </div>
{% endblock %}